{% extends "layout.html" %}

{% block content %}

<h3>{{ page_title }}</h3>
<!--Search Bar-->
<form method="GET" action="{{ url_for('clubs') }}" class="search-form">

    <input
        type="text"
        name="search"
        placeholder="Search for a Club..."
        value="{{ search or '' }}"
    >

    <button type="submit">Search</button>

</form>

<!--Club info-->
<table>
    <thead>
        <tr>
            <th>Club</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Manager</th>
            <th>Players</th>
        </tr>
    </thead>

<tbody>
    {% for club in clubs %}
    <tr>

        <td>
            <!--Links to Club-->
            <a href="{{ url_for('club', Clubid=club.Clubid) }}">
                {{ club.name }}
            </a>
        </td>

      
        <td>{{ club.Wins }}</td>

        
        <td>{{ club.Losses }}</td>

        
        <td>
            <!--Links to Manager-->
            {% if club.manager %}
                <a href="{{ url_for('manager', Managerid=club.manager.Managerid) }}">
                    {{ club.manager.Name }}
                </a>
            {% else %}
                No Manager
            {% endif %}
        </td>

        <td>
            {% if club.players %}
                <ul>
                    <!--Links to Player-->
                    {% for player in club.players %}
                    <li>
                        <a href="{{ url_for('player', Playerid=player.Playerid) }}">
                            {{ player.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                No Players
            {% endif %}
        </td>

    </tr>
    {% endfor %}
</tbody>

</table>

{% endblock %}
