{% extends "layout.html"%}
{% block content %}

<h2>Extras list</h2>

{% if extras|length == 0 %}
<p>No extras available</p>

{% else %}
<ul>
    {% for extra in extras%}
    <li>
        <!-- This creates a clickable link for ONE pizza in the list
        The link goes to /pizzas/<id> (e.g., /pizzas/2), using the pizza's id
        The text the user sees is the pizza's name (e.g., Pepperoni) -->
        <a href="/extras/{{ extra.id }}">{{ extra.name }}</a>
         <!-- After the link, we show the price with a dollar sign
         "%.2f"|format(...) formats the number to 2 decimal places (e.g., 12.5 becomes 12.50) -->
        - ${{ "%.2f"|format(extra.price) }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}