<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PremierStats - {{ page_title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Icon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='football.png') }}">
</head>

<body>

    {% include "header.html" %}
    {% include "nav.html" %}

    <hr>

    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <hr>

    {% include "footer.html" %}

</body>
</html>
