{% extends "layout.html" %}

{% block content %}

<h1>{{ page_title }}</h1>

<table>
    <thead>
        <tr>
            <th>Manager</th>
            <th>Club</th>
        </tr>
    </thead>

    <tbody>
        {% for manager in managers %}
        <tr>
            <td>
                <a href="{{ url_for('manager', Managerid=manager.Managerid) }}">
                    {{ manager.Name }}
                </a>
            </td>

            <td>
                {% if manager.clubs %}
                    {% for club in manager.clubs %}
                        <a href="{{ url_for('club', Clubid=club.Clubid) }}">
                            {{ club.name }}
                        </a>
                    {% endfor %}
                {% else %}
                    No Club
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}