{% extends "layout.html" %}

{% block content %}

<h3>{{ page_title }}</h3>
<!--Search Bar-->
<form method="GET" action="{{ url_for('players') }}" class="search-form">

    <input
        type="text"
        name="search"
        placeholder="Search for a player..."
        value="{{ search or '' }}"
    >

    <button type="submit">Search</button>

</form>

<br>

<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Saves</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Club</th>
        </tr>
    </thead>

    <tbody>

        {% for player in players %}

        <tr>

            <td>
                <a href="{{ url_for('player', Playerid=player.Playerid) }}">
                    {{ player.name }}
                </a>
            </td>

            <td>{{ player.Goals }}</td>
            <td>{{ player.Assists }}</td>
            <td>{{ player.Saves }}</td>
            <td>{{ player.PlayerStartDate }}</td>
            <td>{{ player.PlayerEndDate }}</td>

            <td>
                {% if player.clubs %}

                    {% for club in player.clubs %}
                        <a href="{{ url_for('club', Clubid=club.Clubid) }}">
                            {{ club.name }}
                        </a>
                    {% endfor %}

                {% else %}

                    No Club

                {% endif %}
            </td>

        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}
