{% extends "layout.html" %}

{% block content %}

<h3>{{ page_title }}</h3>
<div class="player-actions">
    <!--Search Bar and Add player-->
    <form method="GET" action="{{ url_for('players') }}" class="search-form">

        <input
            type="text"
            name="search"
            placeholder="Search for a player..."
            value="{{ search or '' }}"
        >

        <button type="submit">Search</button>

        <a href="{{ url_for('add_player') }}" class="add-player-button">
            Add Player
    </a>

</form>
</div>
<br>

<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Saves</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Club</th>
            {% if session.get("admin") %}
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>

        {% for player in players %}

        <tr>

            <td>
                <!--Links to Player-->
                <a href="{{ url_for('player', Playerid=player.Playerid) }}">
                    {{ player.name }}
                </a>
            </td>

            <td>{{ player.Goals }}</td>
            <td>{{ player.Assists }}</td>
            <td>{{ player.Saves }}</td>
            <td>{{ player.PlayerStartDate }}</td>
            <td>{{ player.PlayerEndDate }}</td>

            <td>
                {% if player.clubs %}
                    <!--Links to Club-->
                    {% for club in player.clubs %}
                        <a href="{{ url_for('club', Clubid=club.Clubid) }}">
                            {{ club.name }}
                        </a>
                    {% endfor %}

                {% else %}

                    No Club

                {% endif %}
            </td>

            {% if session.get("admin") %}
            <td>
                <!--Delete Player-->
            <form method="POST" action="{{ url_for('delete_player', Playerid=player.Playerid) }}">

                <a href="{{ url_for('edit_player', Playerid=player.Playerid) }}"
                 class="edit-button">
                    Edit
                </a>

                <form method="POST"
                    action="{{ url_for('delete_player', Playerid=player.Playerid) }}"
                    style="display: inline;">
                    
                <button type="submit" 
                class="delete-button"
                onclick="return confirm('Are you sure you want to delete this player?');">
                Delete
                </button>
            </form>
            </td>
            {% endif %}
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}
