{% extends "layout.html" %}

{% block content %}

<h1>{{ page_title }}</h1>

<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Saves</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Club</th>
        </tr>
    </thead>

    <tbody>
        {% for player in players %}
        <tr>
            <td>
                <a href="{{ url_for('player', Playerid=player.Playerid) }}">
                    {{ player.name }}
                </a>
            </td>

            <td>{{ player.Goals }}</td>
            <td>{{ player.Assists }}</td>
            <td>{{ player.Saves }}</td>
            <td>{{ player.PlayerStartDate }}</td>
            <td>{{ player.PlayerEndDate }}</td>

            <td>
                {% if player.clubs %}
                    {% for club in player.clubs %}
                        <a href="{{ url_for('club', Clubid=club.Clubid) }}">
                            {{ club.name }}
                        </a>
                    {% endfor %}
                {% else %}
                    No Club
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}